.header{
    background-color: #212429;
    width:90%;
    height: 50px;
    padding:5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerText{
    color:white;
}